USE [Demo]
GO
/****** Object:  Table [dbo].[Mask]    Script Date: 2025/9/21 下午 04:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mask](
	[MaskId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Quantity] [int] NULL,
	[Color] [nvarchar](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpeningHours]    Script Date: 2025/9/21 下午 04:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpeningHours](
	[PharmacyId] [int] NOT NULL,
	[DayOfWeek] [tinyint] NOT NULL,
	[OpenTime] [time](7) NOT NULL,
	[CloseTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PharmacyId] ASC,
	[DayOfWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pharmacy]    Script Date: 2025/9/21 下午 04:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharmacy](
	[PharmacyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CashBalance] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PharmacyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PharmacyMask]    Script Date: 2025/9/21 下午 04:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PharmacyMask](
	[PharmacyId] [int] NOT NULL,
	[MaskId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PharmacyId] ASC,
	[MaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseHistories]    Script Date: 2025/9/21 下午 04:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseHistories](
	[PurchaseId] [nvarchar](100) NOT NULL,
	[UserId] [int] NULL,
	[PharmacyName] [int] NULL,
	[MaskName] [int] NULL,
	[TransactionAmount] [decimal](10, 2) NULL,
	[TransactionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/9/21 下午 04:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[CashBalance] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Mask] ON 

INSERT [dbo].[Mask] ([MaskId], [Name], [Quantity], [Color]) VALUES (1, N'True Barrier', 3, N'green')
INSERT [dbo].[Mask] ([MaskId], [Name], [Quantity], [Color]) VALUES (2, N'MaskT', 10, N'green')
INSERT [dbo].[Mask] ([MaskId], [Name], [Quantity], [Color]) VALUES (3, N'Second Smile', 10, N'black')
SET IDENTITY_INSERT [dbo].[Mask] OFF
GO
INSERT [dbo].[OpeningHours] ([PharmacyId], [DayOfWeek], [OpenTime], [CloseTime]) VALUES (1, 1, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time))
INSERT [dbo].[OpeningHours] ([PharmacyId], [DayOfWeek], [OpenTime], [CloseTime]) VALUES (1, 2, CAST(N'14:00:00' AS Time), CAST(N'18:00:00' AS Time))
INSERT [dbo].[OpeningHours] ([PharmacyId], [DayOfWeek], [OpenTime], [CloseTime]) VALUES (1, 3, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[Pharmacy] ON 

INSERT [dbo].[Pharmacy] ([PharmacyId], [Name], [CashBalance]) VALUES (1, N'DFW Wellness', CAST(328.41 AS Decimal(10, 2)))
INSERT [dbo].[Pharmacy] ([PharmacyId], [Name], [CashBalance]) VALUES (2, N'Carepoint', CAST(691.59 AS Decimal(10, 2)))
INSERT [dbo].[Pharmacy] ([PharmacyId], [Name], [CashBalance]) VALUES (3, N'First Care Rx', CAST(222.52 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Pharmacy] OFF
GO
INSERT [dbo].[PharmacyMask] ([PharmacyId], [MaskId], [Price]) VALUES (1, 5, CAST(12.34 AS Decimal(10, 2)))
INSERT [dbo].[PharmacyMask] ([PharmacyId], [MaskId], [Price]) VALUES (1, 8, CAST(36.78 AS Decimal(10, 2)))
INSERT [dbo].[PharmacyMask] ([PharmacyId], [MaskId], [Price]) VALUES (2, 12, CAST(24.56 AS Decimal(10, 2)))
GO
INSERT [dbo].[PurchaseHistories] ([PurchaseId], [UserId], [PharmacyName], [MaskName], [TransactionAmount], [TransactionDate]) VALUES (N'03D57392-46AB-47BD-AD98-48FCCCA8B301', 14, 6, 32, CAST(32.55 AS Decimal(10, 2)), CAST(N'2021-03-03T22:14:28.000' AS DateTime))
INSERT [dbo].[PurchaseHistories] ([PurchaseId], [UserId], [PharmacyName], [MaskName], [TransactionAmount], [TransactionDate]) VALUES (N'056EDF80-FC88-4434-B489-79CD3F1E85BA', 8, 8, 25, CAST(546.00 AS Decimal(10, 2)), CAST(N'2021-01-08T23:54:34.000' AS DateTime))
INSERT [dbo].[PurchaseHistories] ([PurchaseId], [UserId], [PharmacyName], [MaskName], [TransactionAmount], [TransactionDate]) VALUES (N'0C35E397-E2B2-4D9D-8916-22FAD0EAE3D0', 7, 9, 20, CAST(917.23 AS Decimal(10, 2)), CAST(N'2021-06-09T11:52:21.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [CashBalance]) VALUES (1, N'Yvonne Guerrero', CAST(867.19 AS Decimal(10, 2)))
INSERT [dbo].[Users] ([UserId], [Name], [CashBalance]) VALUES (2, N'Ada Larson', CAST(978.49 AS Decimal(10, 2)))
INSERT [dbo].[Users] ([UserId], [Name], [CashBalance]) VALUES (3, N'Geneva Floyd', CAST(861.53 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[PurchaseHistories] ADD  CONSTRAINT [DF_PurchaseHistories_PurchaseId]  DEFAULT (newid()) FOR [PurchaseId]
GO
